<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diabetes Predictor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>



  <div>
    <nav class="navbar navbar-expand-lg p-3 bg-info">
      <a class="navbar-brand" href="#">HealthUp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
          <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
        </div>
      </div>
  </div>


  </div>

  <div class="container my-5">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">About Diabetes</h1>
        <p class="lead">
          Diabetes is a chronic disease that occurs either when the pancreas does not produce enough insulin or when the body cannot effectively use the insulin it produces. Insulin is a hormone that regulates blood glucose. Diabetes is among one of the critical diseases and lots of people are suffering from this disease. Age, obesity, lack of exercise, hereditary diabetes, living style, bad diet, high blood pressure, etc. can cause Diabetes.
        </p>
        <div
          class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
        >
         

          <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="{{ url_for('test') }}">Take Test</a>

        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img
          class="img-fluid"
          src="static/images/Doctor Prescribes Medicine (HD).png"
          alt=""
          width="520"
        />
      </div>
    </div>
  </div>





  <div class="container my-5">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">About Project</h1>
        <p class="lead">
          This project has been developed for our BCA 5th sem MPR (Minor Project Report). In this project, we are working on a diabetes prediction model for better classification of diabetes which includes few external factors responsible for diabetes along with regular factors like Heart disease, BMI, Age, Smoking, etc. This project has been made with HTML, Bootstrap, Python and Flask.
        </p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img
          class="img-fluid"
          src="static/images/pexels-fauxels-3183153.jpg"
          alt=""
          width="520"
        />
      </div>
    </div>
  </div>


  <footer class="bg-info">
    <div class="text-center p-1">
     <p>© 2023 Copyright : HealthUp</p> 
     <p>Codebase available at : <a href="https://github.com/rohanbanduni/BCA-5th-sem-MPR">Github</a></p>
    </div>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous">
</script>


</body>

</html>
